.svg_gallery_logo{
	background-image: url("../image/round.png") !important;
	background-repeat:no-repeat;
	background-size:32px;
}
.mce-i-swoo-grid {
    background: rgba(0, 0, 0, 0) url("../image/icon.png") no-repeat scroll 0 0 !important;
}
